@media screen and (max-width: 992px) {
    section .col {
        flex-basis: calc(100% / 4);
    }
}

@media screen and (max-width: 768px) {
    section .col {
        flex-basis: calc(100% / 2);
    }

    .col-left ul {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .sidebar {
        flex-basis: 50px;
    }
}