/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

button {
    color: #FFF;
    background-color: transparent;
    border: none;
}

h2 {
    color: #FFF;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 5px;
}

h3 {
    color: #FFF;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
}

h4 {
    color: #75787D;
    font-size: 10px;
    line-height: 10px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* Utilities */
.wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

/* Layout */
.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.content-top {
    height: calc(100vh - 125px);
}

/* Sidebar */
.sidebar {
    background-color: #000;
    flex-basis: 250px;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0 25px;
}

.sidebar header {
    min-height: 75px;
    align-items: center;
}

.sidebar header > img.hide {
    width: 50%;
}

.sidebar header > img.show {
    display: none;
    width: 40%;
}

.sidebar ul {
    margin-bottom: 25px;
}

.sidebar li {
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.sidebar li > img {
    width: 25px;
}

.sidebar a {
    color: #75787D;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
}

.sidebar h3 {
    text-transform: uppercase;
}

.sidebar > div > div {
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.sidebar .add {
    height: 40px;
    width: 40px;
    background-color: #75787D;
    justify-content: center;
    align-items: center;
}

.sidebar footer {
    min-height: 75px;
}

.sidebar footer > div {
    align-items: center;
    gap: 5px;
    padding: 15px 0;
}

.sidebar .profile {
    height: 20px;
    width: 20px;
    background-color: #75787D;
    border-radius: 50%;
}

.sidebar .profile > img {
    margin: 0 auto;
}

.sidebar footer > div:first-child {
    border-bottom: 1px solid #75787D;
}

.sidebar footer > div:last-child > a {
    color: #FFF;
    font-size: 12px;
}

.sidebar footer img {
    width: 15px;
}

/* Main */
main {
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
}

main > header {
    min-height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
}

.btn {
    color: #FFF;
    border: 1px solid currentColor;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    padding: 25px;
}

.navbar > ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.navbar a {
    color: #75787D;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    padding: 25px;
}

.tip {
    color: #75787D;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
}

section > .row {
    flex-wrap: wrap;
    margin: -12.5px;
}

section .col {
    flex-basis: calc(100% / 6);
    padding: 12.5px;
}

section .card-img {
    min-height: 125px;
    background-color: #000;
}

section .card-txt {
    padding-top: 15px;
    text-align: center;
}

section > div:nth-child(1) {
    margin-bottom: 25px;
}

/* Main Footer */
#main-footer {
    height: 125px;
    background-color: #282828;
    padding: 25px;
    align-items: center;
    gap: 25px;
}

.bar {
    height: 3px;
    background-color: #FFF;
}

.col-left, .col-right {
    height: 50px;
    flex-basis: 200px;
}

.col-left {
    color: #FFF;
    justify-content: space-between;
    align-items: center;
}

.col-left > div {
    gap: 15px;
}

.col-left img {
    width: 50px;
}

.col-left ul {
    gap: 15px;
}

.col-center {
    height: 75px;
    color: #FFF;
    flex-grow: 1;
    justify-content: center;
    gap: 15px;
}

.col-center > ul {
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.col-center > div {
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.col-center span {
    font-size: 10px;
    line-height: 10px;
}

.col-center .bar {
    flex-basis: 50%;
}

.col-right {
    align-items: center;
    gap: 15px;
}

.col-right > ul {
    gap: 15px;
}

.col-right > div {
    flex-grow: 1;
}