/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* Utilities */
.wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

/* Layout */
.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.content-top {
    height: calc(100vh - 125px);
}

.sidebar {
    background-color: #000;
    flex-basis: 250px;
    flex-shrink: 0;
}

main {
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
}

header {
    min-height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

#main-footer {
    height: 125px;
    background-color: #282828;
}